## Yes this is cool

The whole point of this is to try it when i get to work tomorrow. So far I am really liking this

In [6]:
import pandas as pd
import numpy as np

df = pd.read_excel('data/amazon_data.xls')

Let's go ahead and explore this data set

In [2]:
df.head()

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005
0,1.0981,1.0400,1.0448,1.0536,1.1153,1.0716,1.1207,1.1741,1.3254,1.3304,1.2973,1.3904,1.3321,1.5424
1,0.3504,0.4717,0.2852,0.3807,0.4349,0.2467,0.2735,0.0318,0.1853,-,0.1327,0.5171,0.7431,0.8575
2,0.5395,0.8930,0.3990,0.6147,0.7695,0.3274,0.3765,0.0329,0.2274,-,0.1531,1.0852,2.8933,6.0163
3,40.2474,37.0684,35.0931,33.0402,29.4826,27.2269,24.7524,22.4411,22.3453,22.5672,22.2790,22.6020,22.9297,24.0165
4,5.3335,2.3085,3.0782,2.0868,0.2000,1.0006,1.1065,1.7930,4.1106,4.6065,4.3932,4.4152,3.6318,5.0883

In [ ]:
import pandas_profiling

pandas_profiling.ProfileReport(df)

In [4]:
df.columns

Int64Index([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
            2007, 2006, 2005],
           dtype='int64')

In [10]:
df = df.add_prefix('year_')

In [11]:
df.columns

Index(['year_2018', 'year_2017', 'year_2016', 'year_2015', 'year_2014',
       'year_2013', 'year_2012', 'year_2011', 'year_2010', 'year_2009',
       'year_2008', 'year_2007', 'year_2006', 'year_2005'],
      dtype='object')